.main{
  margin: 15vh auto auto auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 10px;
  justify-content: center;
}

.article{
  padding: 15px;
  border-bottom: 1px solid #C0C0C0;
  border-radius: 3px;
  box-shadow: -1px 2px 10px #C0C0C0;
}

.footer{
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 100%;
  margin-top: 5vh;
}

.footer > p{
  margin: 0 2px;
}

.footer > a{
  color: #FFFF00;
}

.technology{
  border-radius: 3px;
  margin: 3px;
  color: #FFFF00;
  background: #000;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.title{
  display: flex;
  justify-content: space-between;
}

.link{
  margin: 0 3px;
  width: 24px;
  height: 24px;
}
.iconGH {
  width: 24px;
  height: 24px;
}
.links{
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.listtech{
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
}

@media (max-width: 1200px){
  .main{
    grid-template-columns: repeat(2, 1fr);
  }
  .article{
    padding: 10px;
  }
}

@media (max-width: 850px){
  .main{
    margin-bottom: 5%;
    grid-template-columns: repeat(1, 90%);
  }
  .article{
    padding: 5px;
  }
}

@media (max-width: 450px) {
  .main{
    grid-template-columns: repeat(1, 98%);
  }
  .listtech{
    grid-template-columns: repeat(2, max-content);
  }
  .footer{
    font-size: 10px;
    height: fit-content;
    flex-direction: column;
  }
}
